*{
    margin: 0;
    padding: 0;
}

body{
    width: 99%;
    height: 99%; 
    font-family: 'Spline Sans', sans-serif; 
}

h2{
    margin-bottom: 15%;
}

p{ 
    color: rgb(105, 105, 105);
    font-size: 19px;
}
/*text color and decoration a*/
a{
    color: rgb(105, 105, 105);
    text-decoration: none;
}
/* ul bullit remove*/
ul{
    list-style-type: none;
}

li{
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 19px;
}

#mainContainer{
    display: flex;
    margin-top: 2%;
    margin-bottom: 15%;
}
/*Header*/
#container1{
    width: 100%;
    /* border: 2px solid red; */
    margin-right: 2%;
    margin-left: 2%;
    padding
}

#text1{
    width: 100%;
}

#iconBox{
    display: flex;
}

.iconHolder{
    display: flex;
    margin: 4px;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(145, 145, 145);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    filter: grayscale(80%);
}
/*Navigation*/
#container2{
    width: 50%;
    margin-right: 5%;
    /* border: 2px solid red */  
}
/*Components*/
#container3{
    width: 50%;
    margin-right: 5%;
    /* border: 2px solid red */  
}
/*Template*/
#container4{
    width: 50%;
    margin-right: 5%;
    /* border: 2px solid red */   
}
/*LINKS*/
#container5{
    width: 50%;
    margin-right: 5%;
    /* border: 2px solid red */  
}

#footer{
    display: flex;
    width: 100%;
    /* border: 2px solid red */  
}
#footerBox{
    width: 99%;
    margin-top: 4%;
    margin-left: 1%;
}

hr{
    width: 100%;
    margin-bottom: 4%;
}