*{
    margin: 0;
    padding: 0;
}

body{
    width: 1;
    height: 1;  
}

h3{
    margin-bottom: 15%;
}

p{
    margin-top: 5%;
    margin-bottom: 5%;
}

#mainContainer{
    display: flex;
    margin-top: 2%;
    margin-bottom: 10%;
}
/*Header*/
#container1{
    width: 25%;
    /* border: 2px solid red; */
    margin-right: 5%;
}

#text1{
    margin: 10px;
}

#iconBox{
    margin: 10px;
}
/*Navigation*/
#container2{
    width: 13%;
    margin-right: 5%;
    /* border: 2px solid red */
    
}
/*Components*/
#container3{
    width: 13%;
    margin-right: 5%;
    /* border: 2px solid red */  
}
/*Template*/
#container4{
    width: 13%;
    margin-right: 5%;
    /* border: 2px solid red */   
}
/*LINKS*/
#container5{
    width: 13%;
    margin-right: 5%;
    /* border: 2px solid red */
    
}

#footer{
    width: 100%;
    /* border: 2px solid red */
    
}