*{
    margin: 0;
    padding: 0;
}

body{
    width: 1;
    height: 1;
    background-color: rgb(189, 178, 178);
    color: black;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    
}

#mainContainer{

}